/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 0;
}

header .header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header img {
    height: 50px;
    margin-right: 0.5rem;
}

header nav {
    margin-top: 0.5rem;
    padding-left: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

header nav ul.header-nav li {
    margin-right: 1.5rem;
}

header nav ul.header-nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section#graph {
    margin-top: 2rem;
}

section#ueber-uns {
    margin-top: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

/* Graph-Größe und Positionierung */
#co2Graph {
    max-height: 300px;
    max-width: 60%;
    margin: 1rem 0 0 0;
    display: block;
}

/* Filteroptionen */
.filters {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.filters label {
    font-weight: bold;
}

.filters select {
    padding: 0.5rem;
    font-size: 1rem;
}
